@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tsukimi+Rounded:wght@400;700&display=swap');

.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: #fff5f8; */
    position: relative;
}

.background{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
}

.top{
    position: relative;
    width: 100%;
}

h1{
    text-shadow: 1px 1px 0px black;
    font-family: 'Pacifico', cursive;
    width: 100%;
    text-align: center;
    color: #ad6fad;
}

.scores{
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 1em;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.round{
    /* font-size: 2em; */
    font-size: 1.5em;
    font-weight: 700;
}

.container{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    height: 80%;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    align-items: center;
    gap: 4em;
    justify-content: center;

}

.footer{
    margin-top: 1em;
}